@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./partials/preloader";

.c-cursor {
  mix-blend-mode: difference;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.leva-c-kWgxhW-bCBHqk-fill-false.leva-c-kWgxhW {
  top: 90px;
}

.link-menu:hover {
  .link-nested-menu {
    visibility: visible;
    opacity: 1;
  }
  .link-nested-item {
    transform: translateX(0px);
  }
  .link-nested-arrow {
    transform: scale(-1);
  }
}
.link-nested-menu {
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.link-nested-item {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: translateX(-100%);
}
